version: '3'
services:
  mongo:
    image: mongo:latest
    container_name: mongo_container
    ports:
      - "27017:27017"

  flask:
    build:
      context: ./flask/
      dockerfile: Dockerfile
    image: flask_image
    container_name: flask_container
    ports:
      - "8000:8000"
    links: 
      - mongo
    volumes:
      - "$PWD/flask:/home/flask"

  soup:
    build:
      context: ./soup/
      dockerfile: Dockerfile
    image: soup_image
    container_name: soup_container
    ports:
      - "6800:6800"
    links: 
      - mongo
